<html>
    <body>
        <center><h1>ML MODEL</h1></center>
        <h2>Login</h2>
        <br><br><br><br><br>
            <center>
            <form action="/login" method="post">
            <label for="usrname">Username</label>
            <input type="text" id="username" name="usrname" required>
            <br><br>

            <label for="psw">Password</label>
          <input type="password" id="pw" name="psw">
          <br><br>
          <input type="submit" />
        </center>
    </body>
</html>