<html>
<head>
<title>Patient Details</title>
</head>
<body>
<center>
<form action="/predict" method="Post">					
<br><br><br><br><br>
<input type="int" name="glu" placeholder="Glucose levels"/>
<br>
<input type="int" name="bp" placeholder="Blood pressure levels" />
<br>
<input type="int" name="ins" placeholder="Insulin levels" />
<br>
<input type="int" name="bmi" placeholder="Body mass index (BMI)" />
<br>
<input type="int" name="age" placeholder="Age" />
<br>

<input type="Submit"/>
</form>

</center>
</body>

</html>